In [2]:
import os
import pandas as pd

path = os.getcwd()[:os.getcwd().find("Code")] + "Data/netflix-prize/"
movie_ids, user_ids, ratings, dates = [], [], [], []
movie_ids_agg, user_ids_aggs, ratings_aggs, dates_aggs = [], [], [], []
count = 0
#for file in ["combined_data_1.txt", "combined_data_2.txt", "combined_data_3.txt", "combined_data_4.txt"]:
with open(path + "combined_data_1.txt", "r") as s:
    data = s.read()
for line in data.split("\n"):
    if line.strip():
        if "," not in line:
            #print(line)
            #print(int(line.strip()[:-1]))
            #if count == 2:
            #    break
            count += 1
            movie_id = int(line.strip()[:-1])
            if count % 10 == 0:
                print(count, movie_id)
            movie_ids += movie_ids_agg
            user_ids += user_ids_aggs
            ratings += ratings_aggs
            dates += dates_aggs
            movie_ids_agg, user_ids_aggs, ratings_aggs, dates_aggs = [], [], [], []
        else:
            movie_ids_agg.append(movie_id)
            rest_data = line.split(",")
            user_ids_aggs.append(int(rest_data[0]))
            ratings_aggs.append(int(rest_data[1]))
            dates_aggs.append(rest_data[2])
                
df = pd.DataFrame({"movie_id": movie_ids, "user_id": user_ids, "rating": ratings, "date": dates})

1:
1
2:
2
3:
3

In [4]:
df.to_csv(path + "user_data_1.csv")

In [7]:
import pandas as pd
df = pd.DataFrame({"movie_id": [0], "user_id": [0], "rating": [0], "date": [0]})
df = df.append(pd.DataFrame({"movie_id": [0], "user_id": [0], "rating": [0], "date": [0]}))
df
#df = df.append(pd.DataFrame([[1], [1], [1], [1]], columns = ["movie_id", "user_id", "rating", "date"]))

   movie_id  user_id  rating  date
0         0        0       0     0
0         0        0       0     0

In [ ]:
import os
import pandas as pd

path = os.getcwd()[:os.getcwd().find("Code")] + "Data/netflix-prize/"
#movie_ids, user_ids, ratings, dates = [], [], [], []
df = pd.DataFrame({"movie_id": [0], "user_id": [0], "rating": [0], "date": [0]})
count = 0
for file in ["combined_data_1.txt", "combined_data_2.txt", "combined_data_3.txt", "combined_data_4.txt"]:
    with open(path + file, "r") as s:
        data = s.read()
    for line in data.split("\n"):
        if line.strip():
            if "," not in line:
                movie_id = int(line[0])
            else:
                rest_data = line.split(",")
                df = df.append(pd.DataFrame({"movie_id": [movie_id], "user_id": [int(rest_data[0])], 
                                             "rating": [int(rest_data[1])], "date": [rest_data[2]]}))
        if count % 10000 == 0:
            print(count, line)
        count += 1
                
#df = pd.DataFrame({"movie_id": movie_ids, "user_id": user_ids, "rating": ratings, "date": dates})

0 1:
10000 470361,2,2005-05-16
20000 1189445,4,2005-06-25
30000 1729518,1,2005-09-18
40000 624336,5,2005-06-09
50000 211008,3,2004-10-12
60000 1897822,4,2004-11-22
70000 1470228,4,2003-06-19
80000 2180741,4,2004-12-06
90000 1112365,3,2004-08-06
100000 1732588,4,2004-05-02
110000 500741,3,2005-11-07
120000 494064,3,2005-02-13
130000 645620,3,2004-05-12
140000 326054,4,2004-12-13
150000 625405,5,2005-07-28
160000 1253750,5,2005-02-08
170000 633156,4,2004-05-05
180000 1606158,4,2005-10-21
190000 2511288,3,2005-02-21
200000 1842450,5,2004-06-07
210000 1254804,4,2004-05-19
220000 1360936,4,2005-02-23
230000 2517833,3,2004-10-04
240000 798972,5,2002-09-11
250000 540779,4,2005-10-21
260000 1769353,5,2004-02-24
270000 1454129,3,2005-05-27
280000 756405,3,2003-10-06
290000 2330786,5,2005-08-10
300000 2503038,2,2005-03-08
310000 2302074,3,2004-08-03
320000 388468,3,2005-07-05
330000 1999417,4,2005-02-01
340000 2442516,4,2005-02-08
350000 99146,3,2005-02-05
360000 1124111,4,2004-07-22
370000 2354732,3,2004-08-19
380000 757273,4,2004-01-02